{% extends "layout.html" %}
{% block content %}
<h1>Movie list</h1>

<div class="movies_container">
    <aside>
        <form method="get">
            <div>
                <button type="submit">Appliquer mes paramètres</button>
            </div>
            <p>Classer par : </p>
            <div>
                <div>
                    <input type="radio" id="budget" name="sorts[]" value="budget">
                    <label for="budget">Budget</label>
                </div>

                <div>
                    <input type="radio" id="revenues" name="sorts[]" value="revenues">
                    <label for="revenues">Revenus</label>
                </div>

                <div>
                    <input type="radio" id="profit" name="sorts[]" value="profit">
                    <label for="profit">Bénéfices</label>
                </div>

                <div>
                    <input type="radio" id="release_year" name="sorts[]" value="release_year" checked>
                    <label for="release_year">Année de parution</label>
                </div>
            </div>
            <p>En ordre : </p>
            <div>
                <input type="radio" id="asc" name="order" value="1">
                <label for="asc">Ascendant</label>
            </div>
            <div>
                <input type="radio" id="desc" name="order" value="-1" checked>
                <label for="desc">Descendant</label>
            </div>
            <div>
                <input id="page" name="page" type="hidden" value="1">
            </div>
            <p>Filtrer par genres : </p>

            {% for genre in genres %}
            <div>
                <input type="checkbox" id="genres" name="genres[]" value="{{ genre }}">
                <label for="genres">{{ genre }}</label>
            </div>
            {% endfor %}

            <!-- <p>Filtrer par tags : </p> -->
        </form>
    </aside>

    <section>
        {% if links['previous'] %}
        <a href="{{ links['previous'] }}">Previous Page</a>
        {% else %}
        <span href="/" class="deactivated-link">Previous Page</span>
        {% endif %}

        {% if links['next'] %}
        <a href="{{ links['next'] }}">Next Page</a>
        {% else %}
        <span href="/" class="deactivated-link">Next Page</span>
        {% endif %}

        <ul class="movie__title">
            {% for movie in movies %}
            <div class="movie__card">
                <div class="movie--infos">
                    <li>{{ movie.title }}</li>
                    <ul>
                        <li>Année : <strong>{{ movie.release_year }}</strong></li>
                        <li>Budget : <strong>{{ movie.budget }}</strong></li>
                        <li>Revenus : <strong>{{ movie.revenues }}</strong></li>
                        <li>Bénéfices : <strong>{{ movie.profit }}</strong></li>
                        <li>Réalisateur : <strong>{{ movie.director }}</strong></li>
                        <li>Acteurs : </li>
                        <ul>
                            {% for actor in movie.artists %}
                            <li>{{ actor.name }}</li>
                            {% endfor %}
                        </ul>
                    </ul>
                </div>
                <div class="movie--image">
                    <img src="{{ movie.picture_url }}"\>
                </div>
            </div>

            {% endfor %}
        </ul>
    </section>
</div>

{% endblock %}

